//Main colors
$color-1: #000000;
$color-2: linear-gradient(90deg, #BF0072 0%, #7B3BEA 100%);
$color-3: #ffffff;
$color-4: #BC047A;
$color-5: linear-gradient(90deg, #8F8AFF 0%, #7B3BEA 100%);
$color-6: #9D1EAF;
$color-7: #A7A7A7;

//Warning colors
$color-sucess: #28a745;
$color-info: #007bff;
$color-warning: #ffc107;
$color-error: #dc3545;