/* All Round Gothic import */
// Light 300, Normal 400, Medium 500, Semi-Bold 600, Bold 700, Extra Bold 800
@font-face {
    font-family: 'All Round Gothic';
    src: url('./fonts/AllRoundGothic/Book.otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'All Round Gothic';
    src: url('./fonts/AllRoundGothic/Medium.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'All Round Gothic';
    src: url('./fonts/AllRoundGothic/Bold.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* Roboto font import */
@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: normal;
	src: url('./fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: italic;
	src: url('./fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	src: url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: italic;
	src: url('./fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;
	src: url('./fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	src: url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;
	src: url('./fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	src: url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: italic;
	src: url('./fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: normal;
	src: url('./fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: italic;
	src: url('./fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}