@import 'styles/color.scss';
@import 'styles/font.scss';

.custom-upload-file {
	@include text-2;
	width: 100%;

	.real-label {
		display: block;
		padding-bottom: 10px;
	}

	.img-preview-container {
		border-radius: 20px;
		width: calc(100% - 40px);
		border: 2px solid #E4E4E4;
		padding: 20px;
		outline: none;
		display: block;
		@include text-2;
		text-align: center;
		background-color: $color-3;
		position: relative;
		.upload-success {
			.img-preview {
				max-width: 100%;
				max-height: 100px;
			}

			.img-uploaded-txt {
				color: $color-7;
			}
		}

		.waiting-img {
			.icon {
				padding-bottom: 10px;
				width: 25px;
			}

			.file-extentions {
				padding-bottom: 10px;
			}

			.description {
				color: $color-7;
			}
		}
	}

	.hidden-input {
		display: none;
	}

	.btn-list {
		padding-top: 10px;
		.btn {
			width: 100%;
		}
	}
}